.paginator {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous, .next, .page {
    font-size: 20px;
    padding: 0 8px;
    cursor: pointer;
    font-weight: 800;

}

.activePage {
    background-color: beige;
    color: #000;
    border-radius: 10px;
    padding: 3px 4px;
}

.disabledPage {
    display: none;
}
